<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" formControlName="name"
                [class.is-invalid]="name?.touched && name?.invalid">

            @if (name?.touched && name?.invalid) {
            @if(name?.errors?.['required']){
            <div class="error-message">
                <small>username is required</small>
            </div>
            }
            @if(name?.errors?.['minlength']){
            <div class="error-message">
                <small> username must be 3 character long</small>
            </div>
            }
            }

        </div>

        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" name="age" id="age" class="form-control" formControlName="age"
                [class.is-invalid]="age?.touched && age?.invalid">
        </div>
        @if(age?.touched && age?.invalid){
        @if(age?.errors?.['required']){
        <div class="error-message">
            <small>age is required</small>
        </div>
        }
        @if(age?.errors?.['min']){
        <div class="error-message">
            <small>Age should be greater than 18</small>
        </div>
        }@if(age?.errors?.['max']){
        <div class="error-message">
            <small>Age should be less than 100</small>
        </div>
        }
        }
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control" formControlName="email"
                [class.is-invalid]="email?.touched && email?.invalid">

            @if(email?.touched && email?.invalid){
            @if(email?.errors?.['required']){
            <small>email is required</small>
            }
            @if(email?.errors?.['email']){
            <small>Please enter valid email</small>
            }
            }
        </div>

        <div class="form-group">
            <label for="country">Country</label>
            <select name="country" id="country" class="form-control" formControlName="country"
                [class.is-invalid]="country?.touched && country?.invalid">
                <option value="">Select</option>
                <option [value]="country.name.common" *ngFor="let country of contryList$ | async">
                    {{country.name.common}}</option>
            </select>
            @if(country.touched && country.invalid){
            @if(country?.errors?.['required']){
            <div class="error-message">
                <small>country is manadatory.</small>
            </div>
            }
            }
        </div>

        <div class="form-group">
            <label for="gender">Gender</label>
            <select name="gender" id="gender" class="form-control" formControlName="gender" 
            [class.is-invalid]="gender.touched && gender.invalid">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
            @if(gender.touched && gender.invalid){
                @if(gender.errors?.['required']){
                    <div class="error-message">
                        <small>gender is mandatory</small>
                    </div>
                }
            }
        </div>

        <div formGroupName="address">
            <div class="form-group">
                <label for="Street">street</label>
                <input type="text" name="street" id="street" class="form-control" formControlName="street"
                    [class.is-invalid]="street?.invalid && street?.touched">

                    @if(street?.invalid && street?.touched){
                        @if(street?.errors?.['required']){
                            <div class="error-message">
                                <small>Street is compulsory.</small>
                            </div>
                        }
                    }
            </div>

            <div class="form-group">
                <label for="city">City</label>
                <input type="text" name="city" id="city" class="form-control" formControlName="city"
                [class.is-invalid]="city?.invalid && city?.touched">

                @if(city?.touched && city?.invalid){
                    @if( city?.errors?.['required']){
                        <div class="error-message">
                            <small>city is manadatory</small>
                        </div>
                    }
                }
            </div>

            <div class="form-group">
                <label for="postalcode">Postal Code</label>
                <input type="text" name="postalcode" id="postalcode" class="form-control" formControlName="postalcode"
                [class.is-invalid]="postalcode?.invalid && postalcode?.touched">
                @if(postalcode?.touched && postalcode?.invalid){
                    @if(postalcode?.errors?.['required']){
                        <div class="error-message">
                            <small>
                                postalcode is mandatory
                            </small>
                        </div>
                    }
                }
            </div>
           
        </div>

        <div class="form-group">
            <label>
                <input type="checkbox" name="term" id="term" formControlName="terms"> I accept the term and condition.
            </label>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>